<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link rel="preload" href="stylesheets/main.bundle.css" as="style">
    <link rel="preload" href="javascripts/main.bundle.js" as="script">

    <link rel="stylesheet" href="stylesheets/main.bundle.css" as="style">

  </head>
  <body>
    <%= yield %>
  </body>

  <script src="javascripts/core.min.js"></script>
  <script src="javascripts/thesaas.min.js"></script>
  <script src="javascripts/script.js"></script>

  <script src="javascripts/main.bundle.js"></script>
</html>
