    <!-- Header -->
    <header class="header h-fullscreen bg-grey bb-1" >
      <div class="container-wide">

        <div class="row h-full align-items-center text-center text-lg-left">

          <div class="offset-1 col-10 col-lg-4 offset-lg-1">
            <h1>Where Work happens</h1>
            <br>
            <p class="lead mx-auto">Whatever work means for you, Slack brings all the pieces and people you need together so you can actually get things done.</p>
            <br>
            <a class="btn btn-lg btn-success" href="page-register.html">Get Started</a>
            <p class="pt-8"><small>Already a Slack member? <a class="text-muted" href="page-login.html">Sign in</a></small></p>
          </div>

          <div class="col-12 col-lg-6 offset-lg-1 img-outside-right hidden-md-down">
            <img class="mt-80 bg-grey" src="images/header_mockup.png" alt="...">
          </div>

        </div>

      </div>
    </header>
    <!-- END Header -->
