<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <div class="row">

      <div class="col-8 col-lg-3 navbar-left">
        <%# <button class="navbar-toggler" type="button">☰</button> %>
        <a class="navbar-brand" href="#">
          <img class="logo-light" style='max-width: 200px;' src="images/logo_side.png" alt="logo">
          <img class="logo-dark" style='max-width: 200px;' src="images/logo_side.png" alt="logo">

          <%# <img class="logo-dark" src="../assets/img/logo-dark.png" alt="logo"> %>
          <%# <img class="logo-light" src="../assets/img/logo-light.png" alt="logo"> %>
        </a>
      </div>

      <section class="col-lg-6 navbar-mobile">
        <%#   <nav class="nav nav-navbar mx-auto"> %>
          <%#     <a class="nav-link active" href="#">Home</a> %>
          <%#     <a class="nav-link" href="#">Features</a> %>
          <%#     <a class="nav-link" href="#">Pricing</a> %>
          <%#     <a class="nav-link" href="#">Contact</a> %>
          <%#   </nav> %>
        </section>

      <div class="col-4 col-lg-3 text-right">
        <a class="btn btn-sm btn-round btn-primary align-center" href="#">Sign up</a>

      </div>

    </div>
  </div>
</nav>





<%# <nav class="navbar navbar-expand-lg navbar-light "> %>
  <%#   <div class="container"> %>
    <%#     <div class="row"> %>

      <%#       <div class="col-auto col-lg-auto1 mr-auto mx-lg-auto d-flex align-items-center"> %>
        <%#         <1%# <button class="navbar-toggler" type="button">&#9776;</button> %1> %>
        <%#         <a class="navbar-brand mr-0" href="#"> %>
          <%#           <1%# <img class="logo-dark"  src="images/emissary-ring.png" alt="logo"> %1> %>
          <%#           <img class="logo-light" style='max-width: 40px;' src="images/ring-logo.png" alt="logo"> %>
          <%#         </a> %>
        <%#       </div> %>

      <%#       <div class="col-auto col-lg-5 text-right"> %>
        <%#         <1%# <a class="btn btn-sm btn-round btn-outline-primary d-none d-lg-inline-block mr-2" href="#">Sign in</a> %1> %>
        <%#         <a class="btn btn-sm btn-round btn-primary" href="#">Sign up</a> %>
        <%#       </div> %>

      <%#     </div> %>
    <%#   </div> %>
  <%# </nav> %>
<!-- /.navbar -->

