---
title: Emissary | Coming Soon
---

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-site-verification" content="7pYhaqXmOFIdJ1Jvtd8ACtdfk7KLF0sksBEEVUUenBU" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Emissary" %></title>


    <%# <link rel="stylesheet" href="stylesheets/main.bundle.css" as="style"> %>


    <!-- Favicons -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="icon" href="images/favicon.png">

    <script>
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(n,o);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
        analytics.load("LlHif9fVzxBR4dvujCB862dYiTAQMtVt");
        analytics.page();
      }}();
    </script>

      <!-- Hotjar Tracking Code for www.emissary.co.za -->
      <script>
        (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:913989,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      </script>


      <script type="text/javascript">
        window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
        heap.load("655252749");
      </script>

          <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64587145-3"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-64587145-3');
          </script>


          <!-- Start of Async Drift Code -->
          <script>
            "use strict";

            !function() {
              var t = window.driftt = window.drift = window.driftt || [];
              if (!t.init) {
                if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
                  t.factory = function(e) {
                    return function() {
                      var n = Array.prototype.slice.call(arguments);
                      return n.unshift(e), t.push(n), t;
                    };
                  }, t.methods.forEach(function(e) {
                    t[e] = t.factory(e);
                  }), t.load = function(t) {
                    var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                    var i = document.getElementsByTagName("script")[0];
                    i.parentNode.insertBefore(o, i);
                  };
              }
            }();
            drift.SNIPPET_VERSION = '0.3.1';
            drift.load('86gknce7egwt');
          </script>
          <!-- End of Async Drift Code -->

          <!-- Styles -->
          <link href="stylesheets/page.css" rel="stylesheet">
          <link href="stylesheets/style.css" rel="stylesheet">



  </head>
  <body>
    <%= partial 'partials/navbar' %>

    <%= partial '/partials/header' %>

    <!-- Main Content -->
    <main class="main-content">

      <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Features
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
        <section class="section">
          <div class="container">
            <header class="section-header">
              <%# <small>Features</small> %>
              <h2>Client engagement to the Next Level</h2>
              <hr>
              <p class="lead">Emissary helps your company grow by engaging with clients without limits having a team to manage communication. We makes it easy to connect with clients while ignoring APIs and other complex integrations that are not relavent for busy professionals. </p>
              <br>
            </header>

            <div class="row gap-y text-center">

              <div class="col-md-6 col-xl-4 feature-1">
                <p class="feature-icon lead-8 text-primary"><i class="icon-megaphone"></i></p>
                <h5>Broadcasts (Bulk Messaging)</h5>
                <p class="text-muted">Broadcast notifications or alerts to all your clients or a segment</p>
              </div>

              <div class="col-md-6 col-xl-4 feature-1">
                <p class="feature-icon lead-8 text-primary"><i class="icon-chat"></i></p>
                <h5>2-Way Private Messageing</h5>
                <p class="text-muted">Build rapport with your clients, by responding to messages and building relationships </p>
              </div>

              <div class="col-md-6 col-xl-4 feature-1">
                <p class="feature-icon lead-8 text-primary"><i class="icon-layers"></i></p>
                <h5>Unlimited Message Templates and Client Contacts</h5>
                <p class="text-muted">Create message templates for common responses are automated messages you would like to send</p>
              </div>

            </div>
           
            <div class="row gap-y text-center">

              <div class="col-md-6 col-xl-4 feature-1">
                <p class="feature-icon lead-8 text-primary"><i class="icon-adjustments"></i></p>
                <h5>Automation System</h5>
                <p class="text-muted">Use the IF-This-Then-That system(similar to Zapier) to help automate your messages </p>
              </div>

              <div class="col-md-6 col-xl-4 feature-1">
                <p class="feature-icon lead-8 text-primary"><i class="icon-pricetags"></i></p>
                <h5>Unlimited Segmentation and Tags</h5>
                <p class="text-muted">Use the applications to segment and tag your contacts for better management</p>
              </div>

              <div class="col-md-6 col-xl-4 feature-1">
                <p class="feature-icon lead-8 text-primary"><i class="icon-presentation"></i></p>
                <h5>Monthly Reporting</h5>
                <p class="text-muted">I send you reports regularly, to keep you in the loop of what messages will be sent and what was sent.</p>
              </div>

            </div>

          </div>
        </section>


        <section class=" section text-center">
          <div class="container">
            <header class="section-header">
              <h2>Ideal for most business segments</h2>
              <hr>
              <p class="lead">Clients dont want to remember to come in for check ups, fill in routine documents. That is your job - we help you. </p>
            </header>
            <div class="row gap-y">

              <div class="col-12 offset-md-2 col-md-8 mb-30">
                <img src="assets/img/feature-tablet.png" alt="..." data-aos="fade-up" data-aos-duration="2000" class="aos-init aos-animate">
              </div>


              <div class="col-12 col-md-6 col-xl-4">
                <div class="flexbox gap-items-4">
                  <div>
                    <i class="fa fa-hospital-o fs-25 pt-4 text-primary"></i>
                  </div>

                  <div>
                    <h5>Medical</h5>
                    <p> Send reminders to patients to come in for their quartly check up</p>
                  </div>
                </div>
              </div>


              <div class="col-12 col-md-6 col-xl-4">
                <div class="flexbox gap-items-4">
                  <div>
                    <i class="fa fa-gavel  fs-25 pt-4 text-primary"></i>
                  </div>

                  <div>
                    <h5>Professional Services</h5>
                    <p>Send confirmation messages to clients about the status of your service</p>
                  </div>
                </div>
              </div>


              <div class="col-12 col-md-6 col-xl-4">
                <div class="flexbox gap-items-4">
                  <div>
                    <i class="fa fa-diamond fs-25 pt-4 text-primary"></i>
                  </div>

                  <div>
                    <h5>Salon and Beauty</h5>
                    <p>Have a gap in your calendar, remind customers to come in for a treatment or session </p>
                  </div>
                </div>
              </div>


              <div class="col-12 col-md-6 col-xl-4">
                <div class="flexbox gap-items-4">
                  <div>
                    <i class="fa fa-futbol-o  fs-25 pt-4 text-primary"></i>
                  </div>

                  <div>
                    <h5>Fitness and Recreation</h5>
                    <p>Send Weekly routines or diet to clients. Don't forget to send them some sort of personalised inspiration</p>
                  </div>
                </div>
              </div>


              <div class="col-12 col-md-6 col-xl-4">
                <div class="flexbox gap-items-4">
                  <div>
                    <i class="fa fa-file-text-o fs-25 pt-4 text-primary"></i>
                  </div>

                  <div>
                    <h5>Others Services</h5>
                    <p>If it involves sending a message, I can help</p>
                  </div>
                </div>
              </div>


              <div class="col-12 col-md-6 col-xl-4">
                <div class="flexbox gap-items-4">
                  <div>
                    <i class="fa fa-graduation-cap fs-25 pt-4 text-primary"></i>
                  </div>

                  <div>
                    <h5>Tutoring</h5>
                    <p>Send reminders to students for about upcoming lessons and schedule good luck messages or How is it going so far?</p>
                  </div>
                </div>
              </div>


              <div class="col-12 text-center">
                <br><br>
                <a class="btn btn-lg btn-primary" href="#">Increase my revenue!</a>
              </div>

            </div>
          </div>
        </section>
<section class="section bg-gray" id="section-pricing">
                <div class="container">

                  <header class="section-header">
                    <h2>Affordable Pricing</h2>
                    <hr>
                    <p class="lead">Emissary provides a platform for your small to medium-sized companies.</p>
                  </header>


                  <div class="row gap-y text-center">

                    <div class="col-12 col-md-4">
                      <div class="pricing-1">
                        <p class="plan-name">Lite</p>
                        <br>
                        <h2 class="price">
                          <span class="price-unit">R</span>
                          <span data-bind-radio="pricing" data-monthly="999" data-yearly="999">999</span>
                        </h2>
                        <p><small class="opacity-50">Per month</small></p>

                        <small>1000 Emails</small><br>
                        <small>1000 SMS</small><br>
                        <small>Unlimited Automations</small><br>
                        <small>Unlimited Contacts</small><br>
                        <small>Unlimited Tags/User Segments</small><br>
                        <br>
                        <p class="text-center py-3"><a class="btn btn-primary" href="#">Get started</a></p>
                      </div>
                    </div>


                    <div class="col-12 col-md-4">
                      <div class="pricing-1">
                        <p class="plan-name">Standard</p>
                        <br>
                        <h2 class="price text-success">
                          <span class="price-unit">R</span>
                          <span data-bind-radio="pricing" data-monthly="1799" data-yearly="1799">1799</span>
                        </h2>
                        <p><small class="opacity-50" data-bind-radio="pricing" data-monthly="Per month" data-yearly="Per year">Per month</small></p>

                        <small>2000 Emails</small><br>
                        <small>2000 SMS</small><br>
                        <small>Unlimited Automations</small><br>
                        <small>Unlimited Contacts</small><br>
                        <small>Unlimited Tags/User Segments</small><br><br>
                        <br>
                        <p class="text-center py-3"><a class="btn btn-success" href="#">Get started</a></p>
                      </div>
                    </div>


                    <div class="col-12 col-md-4">
                      <div class="pricing-1">
                        <p class="plan-name">Plus</p>
                        <br>
                        <h2 class="price">
                          <span class="price-unit">R</span>
                          <span data-bind-radio="pricing" data-monthly="3199" data-yearly="3199">3199</span>
                        </h2>
                        <p><small class="opacity-50" data-bind-radio="pricing" data-monthly="Per user/month" data-yearly="Per user/year">Per user/month</small></p>

                        <small>4000 Emails</small><br>
                        <small>4000 SMS</small><br>
                        <small>Unlimited Automations</small><br>
                        <small>Unlimited Contacts</small><br>
                        <small>Unlimited Tags/User Segments</small><br><br>
                        <small>Every SMS above 4000 is 80c per sms</small><br>
                        <small>Every Emails above 4000 is 20c per sms</small><br>
                        <br>
                        <p class="text-center py-3"><a class="btn btn-primary" href="#">Get started</a></p>
                      </div>
                    </div>

                  </div>


                </div>
              </section>
    
<section class="section" id="section-faq">
                    <div class="container">
                      <header class="section-header">
                        <h2>Frequently Asked Questions</h2>
                        <hr>
                        <p class="lead">Drop us an email if you couldn't find an answers to your question in the following list.</p>
                      </header>


                      <div class="row gap-y gap-3">

                        <div class="col-12 col-md-6 col-lg-4">
                          <h6 class="fw-400">What happens when my sms credits run out?</h6>
                          <p>You will recieve warning emails before it is predicted to run out, you can also purchase additional sms credits within the application</p>
                        </div>


                        <div class="col-12 col-md-6 col-lg-4">
                          <h6 class="fw-400">What is the sign up process?</h6>
                          <p>You will sign up on and choose a plan on this website. Once you successfuly paid, you will recieve an Email with you login details, a few notes about the app and then you can start sending messages to your clients</p>
                        </div>


                        <div class="col-12 col-md-6 col-lg-4">
                          <h6 class="fw-400">Do you offer free plans?</h6>
                          <p>I am a solo developer trying to make a living and would find it difficult to currently afford it</p>
                        </div>


                        <div class="col-12 col-md-6 col-lg-4">
                          <h6 class="fw-400">Is my data safe?</h6>
                          <p>Yes, we use SSL and database encryption for inportant fields like passwords</p>
                        </div>


                        <div class="col-12 col-md-6 col-lg-4">
                          <h6 class="fw-400">Is this Hipaa compliant?</h6>
                          <p>Messages are sent securely to contacts, however it remains the responsibility of the medical professional to keep client information confidential and not expose personal information to the platform</p>
                        </div>


                        <div class="col-12 col-md-6 col-lg-4">
                          <h6 class="fw-400">Can I cancel anytime?</h6>
                          <p>Yes, sure</p>
                        </div>


                        <div class="col-12 col-md-6 col-lg-4">
                          <h6 class="fw-400">What if I want to change plans?</h6>
                          <p>It's quick and easy to switch between our different pricing plans from your dashboard.</p>
                        </div>


                        <div class="col-12 col-md-6 col-lg-4">
                          <h6 class="fw-400">How long are your contracts?</h6>
                          <p>You can upgrade, downgrade, or cancel your monthly account at any time with no further obligation.</p>
                        </div>


                        <div class="col-12 col-md-6 col-lg-4">
                          <h6 class="fw-400">Other questions?</h6>
                          <p>I am  always available at me@emissary.co.za</p>
                        </div>

                      </div>


                    </div>
                  </section>
    </main> 

    <script src="javascripts/page.min.js"></script>
    <script src="javascripts/script.js"></script>


  </body>
</html>

