---
title: Emissary | Coming Soon
---

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Emissary" %></title>


    <link rel="stylesheet" href="stylesheets/main.bundle.css" as="style">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="icon" href="images/favicon.png">


<!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('86gknce7egwt');
</script>
<!-- End of Async Drift Code -->

  </head>
  <body>

    <!-- Header -->
    <header class="header header-inverse h-fullscreen py-0" style="background-image: url(assets/img/bg-laptop.jpg);" data-overlay="7">
      <div class="container text-center">

        <div class="row h-full ">
          <div class="col-12 col-lg-8 offset-lg-2">
            <img class='default-logo' src="images/logo.png" alt="logo">
            <h2>Automated Messaging service for South African Businesses
            </h2>
            <p> We make it easy for you to send appointment reminders, marketing alerts or bulk notifications.
            </p>

          </div>
        </div>

      </div>
    </header>
    <!-- END Header -->

  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script src="javascripts/core.min.js"></script>
  <script src="javascripts/thesaas.min.js"></script>
  <script src="javascripts/script.js"></script>
  <%# <script src="javascripts/main.bundle.js"></script> %>


  </body>
</html>

